<% include partials/header %>

<h1>Authentication sample</h1>
<a href="/signin">SignIn</a>
<a href="/secret">Go to secret page!</a>
<% if(currentUser){ %>
	<a href="/signout">SignOut</a>
	<p>Current User : <%= currentUser.name %> | <%= currentUser.id %></p>
<% } %>

<% include partials/footer %>