<% include partials/header %>

<h1>You can reach here only after signing in...</h1>
<a href="/">Home</a>
<% if(currentUser){ %>
	<a href="/signout">SignOut</a>
	<p>
		<img src="<%= currentUser.picture.data.url %>" onerror="this.onerror=null; this.style='display: none;'"><br>
		Facebook Id : <%= currentUser.id %><br>
		Email : <%= currentUser.email %><br>
		Name : <%= currentUser.name %><br>
	</p>
<% } %>

<% include partials/footer %>