<% include partials/header %>

<a href="/">Home</a>
<h1>SignIn Form</h1>
<% if(!currentUser){ %>
	<a href="/signin/facebook">SignIn with Facebook</a>
<% } else { %>
	<h1>You are already signed in!</h1>
<% } %>

<% include partials/footer %>